.wave-element {
    margin-left: 4px;
    display: inline-block;
    transform-origin: bottom right;
}

.wave-element:hover {
    animation: wave 0.5s ease-in-out;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.homeTitleContainer{
    display: flex;
    flex-direction: column;
}
.introContainer{
    display: flex;
    max-width: 100%;
    padding: 0 10px;
    justify-content: space-between;
}

.homeInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
    border-radius: 20px;
    border: 1px white solid;
    color: white;
}
.littleDescription p{
    text-wrap: wrap;
    min-width: 40%;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    margin: 5px 0px;
}


.homeInfoContainer h1{
    margin-bottom: 0rem;
    font-size: 1.5rem;
}
.homeInfoContainer p{
    line-height: 25px;
}

.homeButtonsContainer{
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
    flex-wrap: wrap;
}

.homeLogo{
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px black solid;
    padding: 2px;
    margin: 6px 10px;
    display: block;
}
.locationLogo{
    height: 25px;
    border-radius: 10px;
}
.locationContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.locationText{
    font-size: 0.9rem;
    
}

.logoContainer {
    position: relative;
    display: inline-block;
}
  
.logoContainer .gif {
    display: none;
}
  
.logoContainer a:hover .static {
    display: none;
}
  
.resumeLogo{
    padding:0px ;
}
.logoContainer a:hover .gif, .logoContainer .resumeLogo:hover {
    display: block;
    box-shadow: 0 0 10px rgb(11, 143, 250); 
}

@media (max-width: 400px) {
    .homeInfoContainer{
        width: 90%;
        align-self: center;
    }
}