.projectSectionContainer{
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

.projectCardsContainer{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.projectCard{
    color: white;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid white;
    gap: 10px;

    transition: transform 0.3s ease-in-out;
}

.projectCard:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(11, 143, 250); 
}

.projectCardButtonContainer{
    display: flex;
    gap: 10px;
    align-items: center;
}

.projectCardButtonContainer a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    border: 2px black solid;
    margin: 0px;
    border-radius: 5px;

    display: flex; 
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.projectCardButtonContainer a:hover{
    box-shadow: 0 0 10px rgba(11, 143, 250); 
}
.projectDescription{
    flex-grow: 1;
    margin-bottom: 0px;
}

.githubLogo,
.externalLinkIcon{
    height: 20px;
}

.projectCardButtonContainer a:visited{
    color: black;
}

.projectImage{
    width: 100%; 
    align-self: center;
    image-rendering: crisp-edges; 
    image-rendering: -webkit-optimize-contrast; 
    transition: transform 0.3s ease-in-out;
}
.projectImage:hover{
    transform: scale(1.1);
}

.techStackContainer{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.tech{
    padding: 5px;
    border: white 1px solid;
    margin: 0px;
    border-radius: 5px;
}

.imageModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modalContent {
    position: relative;
    max-width: 90%;
    max-height: 100%;
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.magnifiedImage {
    max-width: 90%; 
    max-height: 90%; 
    object-fit: contain; 

}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.closeBtn:hover {
    background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 95%;  
        max-height: 95%; 
    }

    .magnifiedImage {
        max-width: 70%; 
        max-height: 70%; 
    }
}
