.navBarContainer{
    position: fixed;
    margin-top: 1rem;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    width: 90%; 
    max-width: 500px; 
    align-items: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.9);
    border-radius: 30px;
    border: 1px white solid;
    z-index: 10;
    transition: background-color 0.3s ease;
}
.navBarItem{
    color: rgb(233, 228, 228);
    font-size: clamp(0.5rem, 0.9rem, 1rem);
    transition: color 0.5s ease;
/
}
.navBarContainer:hover {
    background-color: rgb(0, 0, 0);
}

.navBarItem:hover{
    color: rgb(11, 143, 250);
}
