* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100%;
  margin: 0px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-width: 700px;
  min-width: 10px;
  gap: 30px;
}

.sectionHeading{
  color: white;
  margin: 0px;
  font-size: 2rem;
  text-align: center;
}

footer{
  color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social-links{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.social-links a{
  text-decoration: underline;
  color: white;
}
footer a{
  color: white;
}