* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainContainer{
  max-width: 100%;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

