.backgroundContainer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    height: 100%;
    width: 100%;
}

.square{
    border: 1px solid rgb(55, 55, 55);
    background-color: #0e0e0e;
    transition: background-color 0.1s ease-out;
    pointer-events: auto;
}

.square:hover{
    background-color: rgb(11, 143, 250);
}